.conform:hover {background: #DFD}
.conform:target {padding: 2px; border: 2px solid #ACA; background: #DFD }
.ua:before {content: "UA: "; background: #9F9; padding:4px; border: thin solid green}
.ff:before {content: "FF: "; background: #F99; padding:4px; border: thin solid maroon}
.at:before {content:"AT:"; background: #99F; padding:4px; border: thin solid navy}
.dc:before {content: "DC: "; background: #f4b13d; padding:4px; border: thin solid #c17e0a}
