.conform:hover {background: #DFD}
.conform:target {padding: 2px; border: 2px solid #ACA; background: #DFD }
.client:before {content: "client: "; background: #9F9; padding:4px; border: thin solid green}
.encoder:before {content: "encoder: "; background: #F99; padding:4px; border: thin solid maroon}

